@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap); /* font-family: 'Gloria Hallelujah', cursive; */
@import url(https://fonts.googleapis.com/css?family=Balsamiq+Sans&display=swap); /* font-family: 'Balsamiq Sans', cursive; */

body, .navbar, .navbar-brand, .nav-link {
  margin: 0;
  font-family: 'Balsamiq Sans', cursive,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Gloria Hallelujah', sans-serif!important;
  -webkit-font-smoothing: antialiased!important;
  -moz-osx-font-smoothing: grayscale!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace!important;
}

.privacy-policy-title{
    border-bottom: 8px solid wheat;
    border-radius: 40%;
    display: inline-block;
    font-family: Gloria Hallelujah, cursive;
    font-size: 2rem;
}

.info-title{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-family: Gloria Hallelujah, cursive;
}

.info-content{
    line-height: 2;
}

.navbar .nav-link {
    cursor: pointer !important;
    display: block !important;
    padding: 0.5rem 1rem !important;
}

.collapse:not(.show) {
  display: none !important;
}
.collapse.show {
  display: block !important;
}


.nav-link {
    color: #fff;
    text-decoration: none;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}

.breadcrumb {
    --bs-breadcrumb-divider: ">";
}

.breadcrumb-item>a{
    text-decoration: none;
    color:#6c757d
}

.breadcrumb-item>a:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
    color: #96031A;
}

.nav-title{
    text-decoration: wavy underline;
    text-decoration-color: green;
    text-underline-offset: 10px;
}

#booked_fully, #booked_exist{
    cursor: not-allowed !important;
    pointer-events: auto;
}

.date_time{
    color: #d1410c;
    font-weight: 600;
}

.list-unstyled>li {
    margin-bottom: 0.5rem!important;
}

.table>:not(caption)>*>*{
    padding: 1rem 1rem;
}

tr>th{
    padding: 1rem 1rem!important;
}

tr>td{
    padding: 1rem 1rem!important;
}

.event_title{
    font-size: 22px;
}

.hover_title:hover{
    text-decoration: underline!important;
    text-underline-offset: 5px!important;
    color: #96031A!important;
}

.highlight_row{
    background-color: #FF9B71;
    animation: fadeBg 4.5s ease-out forwards;
}

@keyframes fadeBg {
    0%   { background-color: #FF9B71; }
    100% { background-color: transparent; }
}

.img_container{
    overflow:hidden;
}
.img_hover{
    display: block;
    width: 100%;
    transition: all 0.7s ease-out;
}
.img_hover:hover{
    transform: scale(1.1);
}

.navbar{
    background-color: #343a40!important;
}

.filter-title {
    font-weight: bold;
    padding: 10px 13px;
    letter-spacing: 1px;
}

.filter{
    border: 2px solid gray;
    border-radius: 8px;
    box-shadow: 6px 0 12px #0003;
    padding: 10px;
}

.list-group>li{
    border: none;
    padding: 8px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

/* Highlight category when click */
.list-group-item.active-category {
    background-color: #e63946;
    color: #fff!important;
    font-weight: bold;
    border-radius: 10px;
}

/* Badge amount */
.list-group-item.active-category .item-amount {
    background-color: #fff;
    color: #e63946;
}

.list-group-item:not(.active-category):hover .item-amount,
.list-group-item:not(.active-category):hover span {
    color: rgba(230, 57, 70, 0.9);
}

.list-group-item:last-child {
    border-bottom: none; /* Delete the last border line */
}

.item-amount{
    font-size: 0.9rem!important;
    color: #000!important;
}

/* push footer down */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1; 
}

/* for recommended carousel */
.carousel-control-custom {
    width: 8%;
    z-index: 999;
}
.carousel-control-prev{
    left: 0;
}
.carousel-control-next{
    right: 0;
}

.carousel-control-prev-icon{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 fill=%27%23000%27 viewBox=%270 0 8 8%27%3E%3Cpath d=%27M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z%27/%3E%3C/svg%3E")!important}
.carousel-control-next-icon{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 fill=%27%23000%27 viewBox=%270 0 8 8%27%3E%3Cpath d=%27M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z%27/%3E%3C/svg%3E")!important}